generic-unit/.terraform
generic-unit/.terraform.*
generic-unit/terraform.tfstate*
generic-unit/terraform.lock*
generic-unit/*.pem

vpn-unit/.terraform
vpn-unit/.terraform.*
vpn-unit/terraform.tfstate*
vpn-unit/terraform.lock*
vpn-unit/*.pem
vpn-unit/*.ovpn